body{
    background-color: rgb(241, 241, 241);
}

.tool-bar{
    display: flex;
    justify-content: space-between;
    background-color: #ec2525;
    height:50px;
    padding-top: .3%;
    color: #fff;
}

#logo{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.add-task{
    display: flex;
    position: absolute;
    z-index: 2;
    width: 40%;
    margin-top: 1.5%;
    margin-left: 33.5%;
    justify-content: center;
    height: 5%;
}

button{
    background-color: #ec2525;
    border-style: none;
    border-radius: 10%;
    margin-left: .5%;
    color: #fff;
}

input{
    width: 70%;
}